@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1.4s;
}

::view-transition-old(item-image),
::view-transition-new(item-image) {
  animation: none;
  mix-blend-mode: normal;
}

.gallery-item {
  view-transition-name: item-image;
  contain: paint;
}

.writing-mode-v {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: right;
  font-size: 7.8vw;
  font-weight: 900;
  color: rgb(161 161 170);
  float: left;
  margin: 0;
}

.writing-mode-h {
  padding-left: 7.8vw;
  font-size: 7.8vw;
  font-weight: 900;
  color: rgb(161 161 170);
}

.first-letter:first-letter {
  background: linear-gradient(
    to bottom right,
    #1f005c,
    #5b0060,
    #870160,
    #ac255e,
    #ca485c,
    #e16b5c,
    #f39060,
    #ffb56b
  );
  initial-letter: 3.5 3;
  -webkit-initial-letter: 3.5 3;
  font-weight: bold;
  line-height: 1;
  margin-right: 1rem;
  color: transparent;
  -webkit-background-clip: text;
  padding: 0.2rem;
}

.hero-wrapper {
  transform: skewY(-11deg);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.hero-title {
  transform: skewY(-11deg);
}
.hero-content {
  max-width: 50em;
  margin: 0 auto;
}
