@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1.4s;
}

::view-transition-old(item-image),
::view-transition-new(item-image) {
  animation: none;
  mix-blend-mode: normal;
}

.gallery-item {
  view-transition-name: item-image;
  contain: paint;
}

.writing-mode-v {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: right;
  font-size: 7.8vw;
  font-weight: 900;
  color: rgb(161 161 170);
  float: left;
  margin: 0;
}

.writing-mode-h {
  padding-left: 7.8vw;
  font-size: 7.8vw;
  font-weight: 900;
  color: rgb(161 161 170);
}
